.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 80px;
    background-color: rgb(9, 82, 9);
    align-items: center;
    &__logo {
        position: absolute;
        height: 40px;
        padding-left: 50px;
        left: 0;
        cursor: pointer;
    }

    &__cart-logo {
        position: relative;
        width: 25px;
        padding-right: 50px;
        cursor: pointer;
    }
    &__cartCounter {
        position: absolute;
        left: 97.4%;
        color: white;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
    }
    &__favCounter {
        position: absolute;
        left: 78%;
        color: white;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
    }
}
